
*{
    font-family: $mainFont;
    font-size: $baseFontSize;
}

body{
    margin:0;
}
  
h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 30px;
    background: #fb2d0591;
    padding: 10px;
    border-radius: 3px;
}

img {
    width: 100%;
}

p {
    font-size: $baseFontSize;
    margin: 0;
    line-height: 34px;
}

.button{
  background: #fc4704;
  display: block;
  margin: 0 auto;
  max-width:150px;
  text-decoration:none;
  border: none;
  padding: 5px 20px;
  border-radius: 30px;
  border-bottom: 3px solid #822300;
}

button, input:focus {
  outline:0;
}


@media (min-width:1024px){
  .container{
    text-align: center;
  }
}
