form{
    text-align: center;
    .phone{
        border: 1px solid #027a01;
        border-bottom-width: 6px;
        padding: 5px 20px;
        border-radius: 30px;
        margin:20px 0;
        &::placeholder{
            text-align:center;
        }
    }
    
    @media (min-width:1024px){
        .phone{
          max-width: 550px;
        }
      }
}
  